
@{
    ViewBag.Title = "Profile";
}
<div class="row" id="bgimage">
    
    <div class="col-md-3" style="">
        <div class="Container" style="box-shadow: 0 15px 40px rgba(80,138,255,0.5); ">
            <br />
            <div class="row">
                <div class="col-md-2" style=""></div>
                <div class="col-md-8" style="">
                    <div style=" border-width: 0px; height: 200px; width: 200px; left: 37px; top: 20px; overflow: hidden; " align="Center">

                        <img src="~/Content/images/AIUB.jpg" alt="Paris" style="border-radius: 50%;height: 200px; width: 200px; ">

                        <input class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" type="file">
                    </div>
                </div>
                <div class="col-md-2" style=""></div>

                

            </div>

            <br/><br />
            <div class="row">
                <div class="col-md-6" style="" >
                    <div style="width:100%; float: left; height:100%;border: 2px solid;border-color: #d7dee8">
                        <a href="#"><h4 align="center">Follower</h4></a>
                        <h5 align="center"><span class="badge badge-primary badge-pill">14</span></h5>
                    </div>
                </div>
                <div class="col-md-6" style="">
                    @*<div style=" border-width: 0px;  height: 100px; width: 300px; left: 0px; top: 300px; overflow: hidden;">*@
                        
                        <div style="width:100%; float: left; height:100%; border: 2px solid;border-color: #d7dee8">
                            <a href="#">
                                <h4 align="center">Following</h4>
                            </a>
                            <h5 align="center"><span class="badge badge-primary badge-pill">20</span></h5>
                        </div>
                    @*</div>*@
                </div>
                



            </div>
            
            <div style=" border-width: 0px; height: 400px; width: 300px; overflow: hidden; color:white;">

                <br /><br />




                &nbsp;&nbsp;
                Name
                :
                Bob


                <hr>
                &nbsp;&nbsp;
                Email
                :
                bob@aiub.edu

                <hr>
                &nbsp;&nbsp;
                Gender
                :
                Male

                <hr>
                &nbsp;&nbsp;
                Date of Birth
                :
                19/09/1998

                <hr>
                &nbsp;&nbsp;
                Role
                :
                Owner

                <hr>
                &nbsp;&nbsp;
                Status
                :
                Active

                <hr>
                &nbsp;&nbsp;
                User Since
                :
                15/09/2015


            </div>
            <div style=" border-width: 0px;  height: 40px; width: 110px; overflow: hidden;">
                &nbsp;&nbsp;
                <button type="button" class="btn btn-success">
                    <i class="fa fa-edit"></i> Edit
                </button>
                <br/><br />
            </div>
        </div>
    </div>
    <div class="col-md-6" style="">
        <div style="width:60%; float: left; height:900px;">
            <div style=" border-width: 0px; height: 430px; width: 700px; overflow: hidden; ">
                <h1 class="display-3" style="text-shadow: 2px 2px #FF0000;;">About Me</h1>
                <p class="lead" style="color:white">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="@Url.Action("JobPost", "User")" role=" button">Create Job</a>
                </p>
            </div>


            <div style=" border-width: 0px;  height: 500px; width: 700px; overflow: hidden;">
                <fieldset>
                    <legend>Posted Jobs:</legend>
                    <div class="list-group">
                        <a href='@Url.Action("RequestedWorker", "User")' class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                    </div>
                </fieldset></div>
        </div>
    </div>
    <div class="col-md-3" style="">
        <div class="container-fluid" style="box-shadow: 0 15px 40px rgba(39,40,43,1); color:white;">


            <h1 align="center">$5</h1><hr>
            <div style=" border-width: 0px;  ">
                &nbsp; &nbsp;Ratings:
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                5.0 <br><hr><br>
                &nbsp; &nbsp;<font color="#00ff40">87%</font>&nbsp; &nbsp; &nbsp; Communication Skill<br><br><br>
                &nbsp; &nbsp;<font color="#00ff40">92%</font>&nbsp; &nbsp; &nbsp; Reliability <br><br><br>
                &nbsp; &nbsp;<font color="#00ff40">90%</font>&nbsp; &nbsp; &nbsp; On Word<br><br><br>
                &nbsp; &nbsp;<font color="#00ff40">85%</font>&nbsp; &nbsp; &nbsp; Behavior<br><br><br>
            </div><br/><br />
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Communication</h3>
                </div>
                <div class="panel-body">
                    <h3>Alex</h3><p>Hello</p>
                    <h3>John</h3><p>Hi</p>
                    <h3>Smith</h3><p>Are you there?</p>
                </div>
            </div>
            

        </div>
    </div>
</div>

