@{
    ViewBag.Title = "Project_Description";

}
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Project Description</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <h4>Project Name</h4>
                        <p>Looking to add a full stack developer to join our team. Must be well versed in node and have great c</p>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <h4>Price: 100$</h4>
                        <h4>Time: 7 days</h4>
                        <h4>Bids: 22</h4>
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <h5>About the Owner</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        5.0 
                        <h6>Verified</h6>

                    </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-3">
                        <a href="#" class="btn btn-primary">Inetersted Bid</a>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-5">
                        <h5>Skills Required</h5>
                        Java, Software Architecture, Windows Desktop
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-3">
                        <h6>Project ID: 16704529</h6>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col-md-2"></div>
</div>
