@{
    ViewBag.Title = "Catagory";
}
<br /><br />
<ul class="breadcrumb">
    <li><a href="@Url.Action("Register","Account")">Register</a></li>
    <li class="active">Catagory</li>
</ul>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <br />
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 50%"></div>
        </div>
        <form class="form-horizontal">
            <fieldset>
                <legend>Catagory</legend>
                <div class="row">
                    <div class="col-md-4" align="center">
                        <a href="@Url.Action("CatagoryDetails","Account")" class="btn btn-primary btn-lg">IT & Software </a><br/><br/><br/>
                        <a href="#" class="btn btn-primary btn-lg">Data entry & Admin</a><br/><br/><br/>
                        <a href="#" class="btn btn-primary btn-lg">Android App</a><br/><br/>
                    </div>
                    <div class="col-md-4" align="center">
                        <a href="#" class="btn btn-primary btn-lg">Writing & Content</a><br /><br /><br />
                        <a href="#" class="btn btn-primary btn-lg">Sales and Marketing</a><br /><br /><br />
                        <a href="#" class="btn btn-primary btn-lg">Teaching</a><br /><br />
                    </div>
                    <div class="col-md-4" align="center">
                        <a href="#" class="btn btn-primary btn-lg">Design & Media</a><br /><br /><br />
                        <a href="#" class="btn btn-primary btn-lg">Local Jobs</a><br /><br /><br />
                        <a href="#" class="btn btn-primary btn-lg">Delivery Boy</a><br /><br />
                    </div>
                </div><br /><br /><br />
                <div align="center">
                    <a href="" class="btn btn-success">Finish</a>
                </div>
              
            </fieldset>
        </form>

    </div>
    <div class="col-md-3"></div>
</div>