
@{
    ViewBag.Title = "CatagoryDetails";
}

<br /><br />
<ul class="breadcrumb">
    <li><a href="@Url.Action("Register","Account")">Register</a></li>
    <li><a href="@Url.Action("Catagory","Account")">Catagory</a></li>
    <li class="active">Catagory Details</li>
</ul>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <br />
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 50%"></div>
        </div>
        <form class="form-horizontal">
            <fieldset>
                <legend>Catagory Details</legend>
                <div class="row">
                    <div class="col-md-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> php
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> C#
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> C Programming
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> My Sql
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Unity 3D
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> XML
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Html
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> .Net
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Oracle
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Coding
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Jason
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> C++
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Java Script
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Twitter
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Linux
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Web Scrapping
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Ajacx
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> J query
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Java
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Python
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Sql
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> SEO
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> CSS
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> UNIX
                            </label>
                        </div>
                    </div>

                </div><br /><br /><br />
                <div align="center">
                    <a href="@Url.Action("Catagory","Account")" class="btn btn-success">Continue</a>
                </div>
            </fieldset>
        </form>
        
        

    </div>
    <div class="col-md-3"></div>
</div>
